html
  head
    
    title Questions and Answers
    link(rel="stylesheet" href="/styles/home.css")

  body
    header
      

      h1 Questions and Answers
      if user   
            h1 Good afternoon #{user.username}
            a.lien(href="/logout") logout
      else 
            a.lien(href="/login") login  
            a.lien(href="/register") Register
    main

      if user  
        section.question-form
        
          form(action="/question/add_question", method="POST")
            

            label(for="question") Your Question
            input(type="text", name="question")
            input(type="hidden", name="user_id" value=`${user._id}`)

            button(type="submit") Ask

      section.question-list

        each i in question

            
            p.question-info
              | Asked by  on  hamza jaada on 2023
            
            h3 hhh
            a(href="/answer") Answer this question


