doctype html
html
  head
    title Login Page
    link(rel='stylesheet', href='/styles/login.css')
  body
    .container
      form(action='/user/Login', method='POST')
        h2 Login
        label(for='email') Email:
        input(type='email', id='email', name='email', required)
        
        label(for='password') Password:
        input(type='password', id='password', name='password', required)
        
        input(type="submit", value="login")
      p Don't have an account? 
        a(href='/user/register') Register here
